* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #11071F;
    background-image: url('./assets/images/png/logo-bg.png');
}  

html {
    scroll-behavior: auto !important;
}

.position-rel {
    position: relative !important;
}
.header {
    /* box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.10); */
    display: flex;
    position: sticky;
    top: 20px;
    z-index: 9999;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0px;

    .layout {
        display: grid;
        grid-template-columns: auto max-content auto;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        width: max-content;
        margin: 0 auto;
        padding: 16px 48px;
        border-radius: 48px;
        gap: 24px;
    }
}

.navlinks-left, .navlinks-right{
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: #FFF;
            cursor: pointer;
            text-align: center;
            font-family: "Plus Jakarta Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.4px;
            transition: 0.3s ease;
            :hover {
                color: #9857D3 !important;
            }
        }
    }
}

.navlinks {
    width: 100%;
    ul {
        display: flex;
        align-items: center;
        gap: 32px;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: #FFF;
            cursor: pointer;
            text-align: center;
            font-family: "Plus Jakarta Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.4px;
            transition: 0.3s ease;
            :hover {
                color: #9857D3 !important;
            }
        }
    }

    &.revert {
        ul {
            flex-direction: column;
            gap: 6px;
            align-items: start;
        }

        &.right {
            ul {
                align-items: end;
            }   
        }
    }
}

.footer {
    padding: 60px 100px;
    height: 400px;
    margin-top: 150px;
}

.pt-cs {
    padding-top: 150px;
}


.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.grid-cols-1 {
    grid-template-columns: 1fr !important;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr) !important;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr) !important;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr) !important;
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr) !important;
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr) !important;
}

.grid-cols-7 {
    grid-template-columns: repeat(7, 1fr) !important;
}

.grid-cols-8 {
    grid-template-columns: repeat(8, 1fr) !important;
}
.grid-cols-2-1 {
    grid-template-columns: 2fr 1fr  !important;
}
.grid-cols-1-2 {
    grid-template-columns: 1fr 2fr  !important;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


.rotating-gradient-circle {
    filter: drop-shadow(0 0 10px rgba(120, 64, 173, 0.5));
  }





  
  .profile-card {
    position: relative;
    width: 220px;
    height: 220px;
    /* background: #fff; */
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
    margin: 25px;
  }
  
  .profile-card:hover {
    border-radius: 10px;
    height: 260px;
  }
  
  .profile-card .img {
    position: relative;
    width: 100%;
    height: 95%;
    transition: 0.6s;
    z-index: 99;
  }
  
  .profile-card:hover .img {
    transform: translateY(-60px);
  }
  
  .img img {
    width: 160px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
  }
  
  .profile-card:hover img {
    border-radius: 10px;
  }
  
  .caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: 0.6s;
  }
  
  .profile-card:hover .caption {
    opacity: 1;
  }

    .input-wrapper {
        height: 50px;
        width: 100%;
        border-radius: 8px;
        padding: 10px 12px;
        transition: all 0.2s ease;
    }
    .custom-input {
        background-color: transparent;
        width: 100%;
        font-size: 16px;
        font-family: 'Plus Jakarta Sans';
        border-radius: 8px;
        box-shadow: none;
        border: none;
        outline: none;
    }
    
    .custom-input:focus-visible {
        outline: none;
        box-shadow: none;
        border: none;
    }
  
  
